/* < !-- Блок Списку --> */

.section {
    padding-top: 94px;
    padding-bottom: 94px;



}

.section__section-list {
    display: flex;
    gap: 30px;
    justify-content: space-between;

}

.section__section-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;

}


.section__section-tittle {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;

}

.section__section-description {

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;

}

.section__section-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;


}


/* Блок з Фото */
.occupation-page {
    padding-bottom: 94px;

}

.occupation-page__tittle {

    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.2;
}

.occupation-page__item {
    display: flex;
    gap: 30px;
}

.occupation-page__items {
    position: relative;

}

.occupation-page__text {
    position: absolute;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
    bottom: 0px;
    align-items: center;
    padding: 27px 27px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}

/* < !-- Команда --> */

.team-page {

    padding-top: 94px;
    padding-bottom: 94px;
    background: #F5F4FA;


}

.team-page__items {
    display: flex;
    gap: 30px;

}

.team-page__members {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-page__title {
    margin-top: 0px;
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.team-page__names {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.team-page__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color: #212121;


}

.team-page__description {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #757575;
}

.team-page__socials-list {
    display: flex;
    align-items: center;
    margin-top: 16px;
    justify-content: center;
    gap: 10px;

}

.team-page__socials-item {
    width: 44px;
    height: 44px;

}

.team-page__socials-links {
    display: flex;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50%;
    color: #AFB1B8;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    transition-property: color, background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}


.team-page__social-icon {
    fill: currentColor;

}



.team-page__socials-links:focus,
.team-page__socials-links:hover {
    color: #FFFFFF;
    background-color: var(--accent-color);
    fill: currentColor;
}


/* Наші клієнти */

.client-page {
    padding-top: 94px;
    padding-bottom: 94px;
}

.client-page__list {
    display: flex;
    gap: 30px;
}

.client-page__item {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

}

.client-page__link {

    display: flex;
    height: 100%;
    width: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    background: #FFFFFF;
    justify-content: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-page__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: currentColor;
}



.client-page__link:hover,
.client-page__link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Портфоліо Блок Нав */
//////////////////////////////

.section-nav {

    padding-top: 94px;
    padding-bottom: 94px;

}

.section-nav__items {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
    gap: 8px;
    margin-top: 94px;

}

.section-nav__button {
    cursor: pointer;
    background-color: #F5F4FA;
    border-radius: 4px;
    padding: 6px 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border-width: 0;
    color: #212121;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-nav__button:hover,
.section-nav__button:focus {

    background-color: var(--accent-color);
    color: var(--white-color);

    box-shadow:
        0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* Приклади Робіт */

.panorama-page {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    margin-bottom: 94px;

}


.panorama-page__items {

    width: 370px;
    height: 404px;
    border: 1px solid #EEEEEE;
    margin: 15px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.panorama-page__items:hover,
.panorama-page__items:focus {
    box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.panorama-page__panorama-under {
    padding: 20px 24px 20px 24px;
}


.panorama-page__panorama-title {
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.panorama-page__panorama-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

/* ************************************ */

.panorama-page__container-move {
    display: flex;
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;
}

.panorama-page__move-up {
    position: absolute;
    padding: 63px 0px;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.panorama-page__container-move:hover .panorama-page__move-up {
    transform: translateY(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.panorama-page__move-text {
    padding: 0px 24px;
    font-style: normal;
    font-size: 18px;
    line-height: 1.58;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}