body {
    background-color: #FFFFFF;
    color: #212121;
    font-style: normal;
    font-weight: 400;
    font-family: 'Roboto', 'Montserrat', 'Raleway', sans-serif;
    @media (min-width: 900px) {
        background-color: #c00f0f;
    }
    }
    ul {
        list-style: none;
        padding: 0;
            margin: 0;
    }
    .list {
        padding: 0;
        margin: 0;
    }
    
    .list a{
        color: #FFFFFF;
        text-decoration: none;
    }
    h1,
    h2,
    p,
    ul {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    h3 {
        margin-top: 0;
    }
    
   