:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;

    --white-color: #FFFFFF;
    --accent-color: #2196F3;
    --secondary-back-color: #F5F5F5;
}
/* колір основного тексту #212121 */

/* колір другорядного тексту #757575 */

/* білий колір #FFFFFF */

/* акцент #2196F3 */

/* другорядний колір фону #F5F5F5 */

$blue-color: #2196F3;
$title-color: #212121;
$text-color: #757575;
$svg-color: #AFB1B8;
$cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);